# **Condition Tasks**

# 1) Write a program that checks if a number is negative, and prints "The number is negative" if it is.

In [2]:
num = float(input("Enter a number: "))
if num < 0:
  print("The number is negative")
else:
  print("The number is positive")

Enter a number: -5
The number is negative

# 2) Write a program that checks if a number is odd, and prints "The number is odd" if it is.

In [4]:
num = int(input("Enter a number: "))
if num % 2 == 1:
  print("The number is odd")
else:
  print("The number is even")

Enter a number: 7
The number is odd

# 3) Determining price categories based on age for a theme park
# if age under 5, price 0,
# age between 6 and 12  -> price 10
# age between 13 and 65 -> price 20
# age above 65 -> price 15

In [7]:
age = int(input("Enter your age: "))

if age <= 5:
  price = 0
  print("The price is " + str(price))
elif (6 <= age) and (age <= 12):
  price = 10
  print("The price is " + str(price))
elif 13 <= age <= 65:
  price = 20
  print("The price is " + str(price))
else:
  price = 15
  print("The price is " + str(price))

Enter your age: 21
The price is 20

# 4) Classifying a student's grade A, B, C, D, F

In [11]:
grade = int(input("Enter your Grade: "))

if 90 <= grade <= 100:
  print("You will be classified as A")
elif 80 <= grade <= 89:
  print("You will be classified as B")
elif 70 <= grade <= 79:
  print("You will be classified as C")
elif 60 <= grade <= 69:
  print("You will be classified as D")
else:
  print("You will be classified as F")

Enter your Grade: 87
You will be classified as B

# 5) check password
# username = "admin"
# password = "123456"

In [17]:
user = input("Enter Username: ")
password = input("Enter password: ")

if (user != "admin") and (password != "123456"):
  print("The username and password are incorrect")
elif user != "admin":
  print("The username is incorrect")
elif password != "123456":
  print("The password is incorrect")
else:
  print("Credentials are Correct")

Enter Username: admin
Enter password: 123456
Credentials are Correct

# 6) dicount coupon
# Discounts on a product based on a coupon code:DISCOUNT10 -> price - 10

In [27]:
Price = 90 # Assuming that the original price is 90

try:
  DiscountCode = input("Enter a doscount code: ")
except:
  DiscountCode = " "

if DiscountCode.upper() == "DISCOUNT10":
  Price -= 10

print("The price is " + str(Price))

Enter a doscount code: DISCOUNT10
The price is 80

# **Loop Tasks**

# 1) Print the square of each number in the list [1, 2, 3, 4, 5].

In [22]:
ls = [1, 2, 3, 4, 5]

for i in ls:
  print(i ** 2)

1
4
9
16
25

# 2) Print all numbers from 0 to 10 using a while loop.

In [23]:
i = 0

while i <= 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

# 3) Count down from 10 to 1 and then print "Blast off!"

In [24]:
ls = []

for x in range(1,11):
  ls.append(x)

ls.reverse()

for i in ls:
  print(i)

10
9
8
7
6
5
4
3
2
1

# 4) Print all even numbers from the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] in one line using a for loop.

In [25]:
ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in ls:
  if i % 2 == 0:
    print(i , end = " ")

2 4 6 8 10

# **General Condition-Loop-Function Tasks**

Task 1: Write a program that takes two numbers as inputs from the user and prints their sum.

In [29]:
def Sum(x, y):
  print(x + y)

Num1 =  float(input("Enter the value of Number No.1: "))
Num2 =  float(input("Enter the value of Number No.2: "))

Sum(Num1, Num2)

Enter the value of Number No.1: 9
Enter the value of Number No.2: 10
19.0

Task 2: Write a program that takes an integer input from the user. Use a for loop to print all numbers from that integer down to 0.

In [32]:
Num = int(input("Enter a number: "))

for i in range(Num, -1 ,-1):
  print(i)

Enter a number: 10
10
9
8
7
6
5
4
3
2
1
0

Task 3: Write a program that takes an integer input from the user. Use a while loop to keep doubling the number until it is greater than 1000, then print the result.

In [33]:
Num = int(input("Enter a number: "))

while Num < 1000:
  Num *= 2

print(Num)

Enter a number: 99
1584

Task 4: Write a function that takes a number as input and returns the square of the number. Use it in a program that takes an input from the user and prints the square.

In [36]:
def Square(x):
  return (x ** 2)

Num = int(input("Enter a number: "))

print(Square(Num))

Enter a number: 6
36

Task 5: Write a program that takes a number as input from the user. If the number is greater than 10, print "Big number". If the number is less than or equal to 10, print "Small number".

In [37]:
Num = float(input("Enter a number: "))

if Num > 10:
  print("Big number")
else:
  print("Small number")

Enter a number: 10.1
Big number

Task 6: Write a function that takes two numbers as inputs and returns their product. Use this function in a program that takes two inputs from the user and prints the product.

In [38]:
def Product(x, y):
  return (x * y)

Num1 = float(input("Enter number No.1: "))
Num2 = float(input("Enter number No.2: "))

print(Product(Num1, Num2))

Enter number No.1: 5
Enter number No.2: 6
30.0

Task 7: Write a program that uses a while loop to take a number as input from the user, subtract 5, and print the result. Continue this until the result is less than 0.

In [43]:
result = 0

while result >= 0:
  Num1 = int(input("Enter a number: "))
  result = Num1 - 5
  print("The result of " + str(Num1) + " - 5 = " + str(result))

Enter a number: 15
The result of 15 - 5 = 10
Enter a number: 10
The result of 10 - 5 = 5
Enter a number: 6
The result of 6 - 5 = 1
Enter a number: 2
The result of 2 - 5 = -3

Task 8: Write a program that uses a for loop to take an integer input from the user and print the factorial of that number.

In [48]:
Num = int(input("Enter a number: "))

for i in range(Num - 1, 0, -1):
  Num *= i

print(Num)

Enter a number: 6
720

Task 9: Write a program that takes a number as input from the user. If the number is positive, print "Positive". If the number is negative, print "Negative". If the number is zero, print "Zero".

In [50]:
Num = int(input("Enter a number: "))

if Num > 0:
  print("The Number is Positive")
elif Num < 0:
  print("The Number is Negative")
else:
  print("The number is Zero")

Enter a number: 0
The number is Zero

Task 10: Write a lambda function that takes two numbers as inputs and returns their division as a floating-point number. Use this function in a program that takes two inputs from the user and prints the division.

In [51]:
Division = lambda x,y: x/y

Num1 = float(input("Enter number No.1: "))
Num2 = float(input("Enter number No.2: "))

print("The Result of dividing"+ str(Num1) + "/" + str(Num2) + str(Division(Num1, Num2)))
print("The Result of dividing"+ str(Num2) + "/" + str(Num1) + str(Division(Num2, Num1)))

Enter number No.1: 5
Enter number No.2: 10
0.5
2.0