# **Data Structures**

#*string*

**Task**: Write a function to count the number of vowels in a given string.

In [14]:
vowels = ["a","i","o","u","e"]

def vowels_count(inp):
  counter = 0
  for i in range(len(inp)):
    if inp[i].lower() in vowels:
      counter +=1
  return counter

inp = input("Enter a string: ")
print(vowels_count(inp))

Enter a string: Musa Tareq SarSour
7

**Task**: Write a function that takes a string and returns the same string but with every second letter capitalized.

In [40]:
def capitalize_second(s1):
  s1 = s1.lower()
  ls = s1.split()
  for i in range(len(ls)):
    ls[i] = ls[i].replace(ls[i][1], ls[i][1].upper())
  return ' '.join(ls)

s = input("Enter a string: ")
print(capitalize_second(s))

Enter a string: Musa Tareq SarSour
mUsa tAreq sArsour

# *List*

**Task**: Write a function that takes a list of numbers and returns a new list containing only the even numbers.

In [56]:
def ls_even(ls):
  ls1 = []
  for i in ls:
    if i % 2 == 0:
      ls1.append(i)
  return ls1

ls = [x for x in range(0, 11)]
print(ls_even(ls))

[0, 2, 4, 6, 8, 10]

**Task**: Write a function that takes a list and returns a new list with duplicate values removed

In [66]:
def remove_duplicates(ls):
  ls1 = []
  for i in ls:
    if i not in ls1:
      ls1.append(i)
  return ls1
  '''
Alternative solution:

ls = [1,1,2,3,4,4,3,1,5,6,1]
print(set(ls))

  '''
ls = [1,1,2,3,4,4,3,1,5,6,1]
print(remove_duplicates(ls))

[1, 2, 3, 4, 5, 6]

# *Set*

**Task**: Write a function that takes two sets and returns their intersection as a new set

In [63]:
def set_intersection(set1, set2):
  set3 = (set1 - set2) | (set2 - set1)
  return set3

st1 = {1,2,3,4,5,6}
st2 = {1,2,3,7,8,9}
print(set_intersection(st1, st2))

{4, 5, 6, 7, 8, 9}

**Task**: Write a function that takes two sets and returns their union as a new set

In [64]:
def set_union(set1, set2):
  set3 = set1 | set2
  return set3

st1 = {1,2,3,4,5,6}
st2 = {1,2,3,7,8,9}
print(set_union(st1, st2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# *Tuple*

**Task**: Write a function that takes a list of tuples and sorts them based on the second element of each tuple

In [31]:
def sort_tuples(ls):
  for i in range(1,len(ls)):
    j = i - 1
    t = ls[i]
    while t[1] < ls[j][1]:
      if j < 0:
        break
      ls.insert(j, t)
      ls.pop(j + 2)
      j -= 1
  return ls

ls = [(1,2),(2,2),(2,1),(3,0),(11,15)]
print(sort_tuples(ls))

[(3, 0), (2, 1), (1, 2), (2, 2), (11, 15)]

**Task**: Write a function that takes a tuple and returns a reversed version of that tuple.

In [44]:
def reverse_tuple(tp):
  tp1 = tp[::-1]
  return tp1

tp = (1,2,3,4,5,6,7,8)
print(reverse_tuple(tp))

(8, 7, 6, 5, 4, 3, 2, 1)

# *Dictionary*

**Task**: Write a function that takes a dictionary and returns the keys and values as separate lists

In [46]:
def dict_seperator(d):
  ls1 = list(d.keys())
  ls2 = list(d.values())
  return ls1, ls2

d = {1: "Ahmad", 2: "Ali", 3: "Mohammed"}
ls_keys, ls_values = dict_seperator(d)
print("ls_keys = " + str(ls_keys))
print("ls_values = " + str(ls_values))

ls_keys = [1, 2, 3]
ls_values = ['Ahmad', 'Ali', 'Mohammed']

**Task**: Write a function that takes a dictionary and a key, and if the key exists in the dictionary, return its value. If the key does not exist, return a default value.

In [50]:
def get_value(d, key):
  try:
    return d[key]
  except:
    return "The Key doesn't exixt!!"

d = {"1": "Ahmad", "2": "Ali", "3": "Mohammed"}
key = input("Enter the key value: ")
print(get_value(d , key))

Enter the key value: 2
Ali